
html{
font-family: 'Manrope', sans-serif;
background-color:#0D0D0D;
scroll-behavior: smooth;

}
/*  ESTILOS NAV  */
nav{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    background-color:#0D0D0D;
    height: 8rem;
    border-bottom: 1px solid#3D9DF2;
}

nav h1{
    font-size: 3.5rem;
    color: #3D9DF2;
    font-family: 'Handjet', cursive;
    cursor: default;
    
}
.nav-fantasma{
    visibility: collapse;

}

/*  BODY   */
.contenedor-princ{
    display: grid;
    grid-template-columns: 15% 85%;


}
/*SIDEBAR*/
/*SIDEBAR*/
.contenedor-princ section:nth-child(1){
    height: 320vh;
    background-color:#3D9DF2;
}

    /*sidebar fijo*/
.sidebar div{

    width: 15%;
    position: fixed;
    display: flex;
    flex-direction: column;


}


.sidebar div a {
    color:#0D0D0D;
    font-size: 1.6rem;
    font-weight:400;
    font-family: 'Handjet', cursive;

    padding: 1.5rem 1rem;
    margin: .5rem;
    text-align: center;

} 

.sidebar div a:hover{
    background-color: white;
    cursor:pointer;


}

/*CONTENEDOR PRINCIPAL*/
/*CONTENEDOR PRINCIPAL*/

.contenido{
    background-color:#0D0D0D;
    height: 200vh;
    padding: 0rem 2rem;
    
}

.contenido >div:nth-child(n){
    margin: 2rem;
}

/*perfil*/
/*perfil*/
.div-perfil{
    display: grid;
    grid-template-columns: 20%  80%;
    justify-content: center;
    align-items: center;

    width: auto;
    padding: 4rem 0rem;
    padding-bottom: 6rem;


    border-bottom: 1px solid white;
}

.div-perfil div > p{
    color: white;
    text-align: center;
    padding: 2px;
}
.div-perfil h3{
    border: 1px solid white;
    height: 10rem;
    width: 10rem;
}

.avatar{
    background-image: url(../img/perfil-real.jpeg);
    border: 1px solid white;
    
    height: 9rem;
    width: 9rem;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position:center center ;

}


/*trabajos*/
/*trabajos*/

.div-trabajos *{
    text-align: center;
    color:white;
    padding: 2px;

}



.div-trabajos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


    padding:1rem;
    margin: 0rem .5rem;
    height: 20rem;
    border: 1px solid #111111;

}
.cont-trabajo{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;

    height: 12rem;
}

.cont-trabajo2{
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;

    height: 12rem;
}
.cont-img{
    background-image: url(../img/alina1.png);
    background-repeat: no-repeat;
    background-size:contain ;
    background-position:center center ;

    height: 100%;
    width: 100%;
    


}

.cont-img2{
    background-image: url(../img/onedrop_01.png);
    background-repeat: no-repeat;
    background-size:contain ;
    background-position:center center ;

    height: 100%;
    width: 100%;
}

.cont-img3{
    background-image: url(../img/biblio_01.png);
    background-repeat: no-repeat;
    background-size:contain ;
    background-position:center center ;

    height: 100%;
    width: 100%;

}
.botones-desar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.boton-desar{

    margin: 1rem;
    padding: .5rem;
    width: 5rem;

    text-decoration: none;
    color: BLACK;

    text-align: center;

    background-color: #3D9DF2;
    border:1px solid  #3D9DF2;
}

.boton-desar:hover{
    background-color: #03588F;
    border: 1px solid #03588F;
}
/*INFO CONTACTO*/
/*INFO CONTACTO*/
.tit-info{
    border-top: 1PX solid white;

}
.cont-info{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;

    color: white;
    margin: 0rem 4rem;

    padding-bottom: 4rem;
}



.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}

.boton{

    margin: 1rem;
    padding: .5rem 1rem;
    width: 8rem;

    text-decoration: none;
    color: BLACK;

    text-align: center;

    background-color: #3D9DF2;
    border:1px solid  #3D9DF2;
}

.boton:hover{
    background-color: #03588F;
    border: 1px solid #03588F;
}



/*VARIOS*/
/*VARIOS*/
.titulos{
    color: white;
    margin: 2rem 0rem;
    text-align: center;
}

.nostyle{
    text-decoration: none;
    color: black;
    text-align: center;

}

/* MEDIA QUERIE 1130*/
/* MEDIA QUERIE 1130*/
@media (max-width: 1130px) {
.contenedor-princ{
    display: flex;
    flex-direction: column;
}

.contenedor-princ section:nth-child(1){
    height: 0rem;

}

nav{
    height: 12rem;
}

.nav-fantasma{
    visibility: visible;
    height: 0rem;
    width: 100%;
}

.sidebar div{
    background-color:#3D9DF2;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0rem;




}

.div-trabajos {
    height: 12rem;
}

.contenido{
    padding: 1rem;
}

.contenido >div:nth-child(n){
    margin: 1rem;
}


}

/* MEDIA QUERIE 950*/
/* MEDIA QUERIE 950*/
@media (max-width: 950px) {
/* perfil */
.div-perfil{
    display: flex;
    flex-direction: column;
}    
.avatar{
    visibility: collapse;
}

/* desarrollos */
.div-trabajos > div{
    display: flex;
    flex-direction: column;
}
.cont-img, .cont-img2{
    visibility: collapse;
}

}

/* MEDIA QUERIE 510*/
/* MEDIA QUERIE 510*/
@media (max-width: 510px) {
    .sidebar div a {
        font-size: 1.3rem;
        padding: 1.5rem .5rem;
        margin: .2rem;
    } 
    nav h1{
        font-size: 2.5rem;
    }

    .contenido{
        padding: 0rem;
    }
    
    .contenido >div:nth-child(n){
        margin: .5rem;
    }

    .div-trabajos {
        height: 15rem;
    }

/*  info contacto   */
    .cont-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    }


}



/*  FOOTER  */
footer{
    background-color:#0D0D0D;

    height: 2rem;

}